# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/libraries
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/default/files

# Ignore Composer-managed dependencies.
vendor/

# Ignore logs from composer's containers
logs/

# Ignore jbrains folder configurations (PhpStorm, WebStorm)
.idea/

# Ignore .env file configuration
.env

# Ignore development.services.yml file
/docroot/sites/development.services.yml

# Ignore settings files
/docroot/sites/default/settings.local.php
/docroot/sites/default/settings.php

